body {
padding:0;margin:0;
    /*background: linear-gradient(#272125, #272125);*/
	background-color:#eee;/*#79c944;*/
	min-width: 320px;
}
#box{
    margin-top: 100px;
	background-color:red;/*#eee;*/
	width : 100%;
	border-radius:5px;
}
#error {
	/*float:left;*/
	font-size:16px;
	line-height:12px;
	color:red;
}

/**------------USER------------**/
#user{
position:center;/*relative;*/
/*left:-23px;*/
border:0px #42B1B3 solid;/*color:#79c944;*/background:white;opacity: 1;
    background-image:url(user2.png);
	background-repeat: no-repeat; background-position:right;
height:40px;font-size:16px;
display:block;width:230px;
text-align:center;border-radius:5px;
color:green;font-family:inherit
}
#user:focus{
    background:#fff;
    color:#f4452e;
    background-image:url(user2.png);
	background-repeat: no-repeat; background-position:right;
    
}
/**--------------------PASSWORD----------**/
#pass{
position:center;/*relative;*/
/*left:-23px;*/
border:0px #42B1B3 solid;/*color:#fff*/;background:white;opacity: 1;
background-image:url(key.png);
	background-repeat: no-repeat; background-position:right;
height:40px;font-size:16px;
display:block;/*margin:5px;*/width:230px;text-align:center;border-radius:5px;color:green;font-family:inherit
}
#pass:focus{
border:0px #42B1B3 solid;color:#f4452e;background: #fff;opacity: 1;
background-image:url(key.png);
	background-repeat: no-repeat; background-position:right;
}
/*---------------Boton---------*/
#boton{
position:center;/*relative;*/
/*left:-23px;*//*128px;top:-95px;*/
	-webkit-appearance:none;color:#fff;
	background:#79c944;/*#f4452e; background-image:url(key2.png);*/
	background-repeat: no-repeat; background-position:center; opacity: 1;
    border:none;border-radius:5px;height:40px;/*90px;*/width:230px;/*42px;*/font-size:16px;font-weight:400;outline:0;text-transform:uppercase;
    letter-spacing:1.5px;cursor:pointer
    }
#boton:hover{
	background-color:#F0C20E;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease
	}
    .vertical-form .footer{
        position: relative;
        top:-0px;
        text-align:center;
color:#ccc;}
.vertical-form .footer a{text-decoration:none;color:#f4452e;}
    @media (max-width:450px){
        #box{
            margin-top: 10px;}
        #logo{
            width:120px;
        }
}
